{% extends "base.html" %}
{% load static %}


{% block content%}

   <div id="header-sticky-mobile" class="tp-md-header-area d-md-block d-lg-none pt-30 pb-30">
      <div class="container-fluid">
         <div class="row align-items-center">
            <div class="col-md-6 col-6">
               <div class="tp-logo">
                  <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo-text-blue.svg' %}" alt=""></a>
               </div>
            </div>
            <div class="col-md-6 col-6">
               <div class="tp-header-right z-index-1 d-flex align-items-center justify-content-end">
                  <a class="tp-btn-yellow d-none d-md-block" href="#">How it Works</a>
                  <button class="tp-menu-bar"><i class="fal fa-bars"></i></button>
               </div>
            </div>
         </div>
      </div>
   </div>



   <div class="tp-offcanvas-area">
      <div class="tpoffcanvas">
         <div class="tpoffcanvas__logo">
            <a href="{% url 'index' %}">
               <img src="{% static 'img/logo/logo-text-white.svg' %}" alt="">
            </a>
         </div>
         <div class="tpoffcanvas__close-btn">
            <a class="close-btn" href="javascript:void(0)"><i class="fal fa-times-hexagon"></i></a>
         </div>
         <div class="tpoffcanvas__content d-none d-sm-block">
            <p>We deploy world-class Creative <br> on demand.</p>
         </div>
         <div class="mobile-menu">

         </div>
         <div class="tpoffcanvas__contact">
            <span>Contact us</span>
            <ul>
               <li><i class="fas fa-star"></i> <a href="https://goo.gl/maps/abHegV4AoiJA6Syd8" target="_blank">Hyderabad, Telangana 500004, IN</a></li>
               <li><i class="fas fa-star"></i> <a href="tel:+919063677927">+91 90636 77927</a></li>
               <li><i class="fas fa-star"></i> <a href="mailto:info@softwarestudios.com">info@softwarestudios.com</a></li>
            </ul>
         </div>
         <div class="tpoffcanvas__input d-none d-sm-block">
            <p>Get UPdate</p>
            <form class="p-relative" action="#">
               <input type="text" placeholder="Enter mail">
               <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
         </div>
         <div class="tpoffcanvas__instagram d-none d-sm-block">
            <p>Check Instagram POst</p>
           <div class="tp-insta">
            <div class="row">
               <div class="col-3 col-sm-3"><a href="#"><img src="{% static 'img/offcanvas/insta-1.jpg' %}" alt=""></a></div>
               <div class="col-3 col-sm-3"><a href="#"><img src="{% static 'img/offcanvas/insta-2.jpg' %}" alt=""></a></div>
               <div class="col-3 col-sm-3"><a href="#"><img src="{% static 'img/offcanvas/insta-4.jpg' %}" alt=""></a></div>
               <div class="col-3 col-sm-3"><a href="#"><img src="{% static 'img/offcanvas/insta-4.jpg' %}" alt=""></a></div>
            </div>
           </div>
         </div>
      </div>
   </div>

   <div class="body-overlay"></div>

   <main>

      <!-- breadcrumb area start -->
      <section class="breadcrumb__area  breadcrumb__pt-310 include-bg p-relative"
         data-background="{% static 'img/breadcrum/ab-1.1.jpg' %}">
         <div class="ac-about-shape-img z-index-1">
            <img src="{% static 'img/breadcrum/ab-shape-1.1.jpg' %}" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="breadcrumb__content p-relative z-index-1">
                     <h3 class="breadcrumb__title">Post Style 01</h3>
                      <a href="{% url 'contact' %}" class="tp-btn-white-border">Lets work together <i class="far fa-arrow-right"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- breadcrumb area end -->


      <!--blog-grid-area-start -->
      <div class="tp-blog-area pt-130 pb-120 p-relative">
         <div class="container">
            <div class="row gx-40">
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-blog-box mb-30 wow tpfadeLeft" data-wow-duration=".6s" data-wow-delay=".4s">
                     <div class="tp-blog-item">
                        <div class="tp-blog-img fix mb-35">
                           <a href="#"> <img class="w-100" src="{% static 'img/blog-post/blog-post-2.jpg' %}" alt=""></a>
                        </div>
                        <div class="tp-blog-meta d-flex justify-content-between mb-30">
                           <a href="#">Tutorilas</a>
                           <a class="tp-blog-meta-color" href="#">February. 20.2022</a>
                        </div>
                        <div class="tp-blog-info">
                           <h3 class="tp-blog-title"><a href="{% url 'blog-details' %}">How to add a count up animation the webflow site.</a>
                           </h3>
                           <p>At Collax we specialize in designing, building, shipping and scaling beautiful, usable
                              products
                              with blazing-fast</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-blog-box mb-30 wow tpfadeRight" data-wow-duration=".7s" data-wow-delay=".6s">
                     <div class="tp-blog-item">
                        <div class="tp-blog-img fix mb-35">
                           <a href="#"><img class="w-100" src="{% static 'img/blog-post/blog-post-3.jpg' %}" alt=""></a>
                        </div>
                        <div class="tp-blog-meta d-flex justify-content-between mb-30">
                           <a href="#">Business</a>
                           <a class="tp-blog-meta-color" href="#">February. 20.2022</a>
                        </div>
                        <div class="tp-blog-info">
                           <h3 class="tp-blog-title"><a href="{% url 'blog-details' %}">How to grow your business with collax digital
                                 solution.</a></h3>
                           <p>At Collax we specialize in designing, building, shipping and scaling beautiful, usable
                              products
                              with blazing-fast</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-blog-box mb-30 wow tpfadeLeft" data-wow-duration=".6s" data-wow-delay=".4s">
                     <div class="tp-blog-item">
                        <div class="tp-blog-img fix mb-35">
                           <a href="#"> <img class="w-100" src="{% static 'img/blog-post/blog-post-4.jpg' %}" alt=""></a>
                        </div>
                        <div class="tp-blog-meta d-flex justify-content-between mb-30">
                           <a href="#">Tutorilas</a>
                           <a class="tp-blog-meta-color" href="#">February. 20.2022</a>
                        </div>
                        <div class="tp-blog-info">
                           <h3 class="tp-blog-title"><a href="{% url 'blog-details' %}">How to add a count up animation the webflow site.</a>
                           </h3>
                           <p>At Collax we specialize in designing, building, shipping and scaling beautiful, usable
                              products
                              with blazing-fast</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-blog-box mb-30 wow tpfadeRight" data-wow-duration=".7s" data-wow-delay=".6s">
                     <div class="tp-blog-item">
                        <div class="tp-blog-img fix mb-35">
                           <a href="#"><img class="w-100" src="{% static 'img/blog-post/blog-post-5.jpg' %}" alt=""></a>
                        </div>
                        <div class="tp-blog-meta d-flex justify-content-between mb-30">
                           <a href="#">Business</a>
                           <a class="tp-blog-meta-color" href="#">February. 20.2022</a>
                        </div>
                        <div class="tp-blog-info">
                           <h3 class="tp-blog-title"><a href="{% url 'blog-details' %}">How to grow your business with collax digital
                                 solution.</a></h3>
                           <p>At Collax we specialize in designing, building, shipping and scaling beautiful, usable
                              products
                              with blazing-fast</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-blog-box mb-30 wow tpfadeRight" data-wow-duration=".7s" data-wow-delay=".6s">
                     <div class="tp-blog-item">
                        <div class="tp-blog-img fix mb-35">
                           <a href="#"><img class="w-100" src="{% static 'img/blog-post/blog-post-6.jpg' %}" alt=""></a>
                        </div>
                        <div class="tp-blog-meta d-flex justify-content-between mb-30">
                           <a href="#">Business</a>
                           <a class="tp-blog-meta-color" href="#">February. 20.2022</a>
                        </div>
                        <div class="tp-blog-info">
                           <h3 class="tp-blog-title"><a href="{% url 'blog-details' %}">How to grow your business with collax digital
                                 solution.</a></h3>
                           <p>At Collax we specialize in designing, building, shipping and scaling beautiful, usable
                              products
                              with blazing-fast</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="tp-blog-box mb-30 wow tpfadeLeft" data-wow-duration=".6s" data-wow-delay=".4s">
                     <div class="tp-blog-item">
                        <div class="tp-blog-img fix mb-35">
                           <a href="#"> <img class="w-100" src="{% static 'img/blog-post/blog-post-1.jpg' %}" alt=""></a>
                        </div>
                        <div class="tp-blog-meta d-flex justify-content-between mb-30">
                           <a href="#">Tutorilas</a>
                           <a class="tp-blog-meta-color" href="#">February. 20.2022</a>
                        </div>
                        <div class="tp-blog-info">
                           <h3 class="tp-blog-title"><a href="{% url 'blog-details' %}">How to add a count up animation the webflow site.</a>
                           </h3>
                           <p>At Collax we specialize in designing, building, shipping and scaling beautiful, usable
                              products
                              with blazing-fast</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-12">
                  <div class="basic-pagination text-center mt-30">
                     <nav>
                        <ul>
                           <li>
                              <a href="{% url 'blog' %}">
                                 <i class="far fa-angle-left"></i>
                              </a>
                           </li>
                           <li>
                              <a href="{% url 'blog' %}">1</a>
                           </li>
                           <li>
                              <span class="current">2</span>
                           </li>
                           <li>
                              <a href="{% url 'blog' %}">3</a>
                           </li>
                           <li>
                              <a href="{% url 'blog' %}">
                                 <i class="far fa-angle-right"></i>
                              </a>
                           </li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog-grid-area-end -->

   </main>


   <!-- footer-area-start -->

   <footer>
      <div class="tp-footer-area black-bg pt-130 pb-30">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tp-footer-widget">
                     <div class="tp-footer-widget__logo mb-30">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo-text-white.svg' %}" alt=""></a>
                     </div>
                     <div class="tp-footer-widget__text mb-30">
                        <p>A new way to make the payments easy,
                           reliable and 100% secure. claritatem itamconse quat. Exerci tationulla</p>
                     </div>
                     <div class="tp-footer-widget__social-link">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-skype"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-2 col-md-6 d-flex justify-content-lg-center">
                  <div class="tp-footer-widget">
                     <div class="tp-footer-widget__title pb-15">
                        <h3 class="footer-title">Usefull Links</h3>
                     </div>
                     <div class="tp-footer-widget__list">
                        <ul>
                           <li><a href="{% url 'service-3' %}">Case Studies</a></li>
                           <li><a href="{% url 'testimonial' %}">Testimonials</a></li>
                           <li><a href="{% url 'price' %}">Pricing</a></li>
                           <li><a href="{% url 'job' %}">Careers</a></li>
                           <li><a href="{% url 'contact' %}">Contact us</a></li>
                           <li><a href="{% url 'faq' %}">FAQ</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-2 col-md-6">
                  <div class="tp-footer-widget pl-20">
                     <div class="tp-footer-widget__title pb-15">
                        <h3 class="footer-title">Community</h3>
                     </div>
                     <div class="tp-footer-widget__list">
                        <ul>
                           <li><a href="#">Help Center</a></li>
                           <li><a href="#">Partners</a></li>
                           <li><a href="#">Suggestions</a></li>
                           <li><a href="{% url 'blog' %}">Blog</a></li>
                           <li><a href="#">Newsletters</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tp-footer-widget">
                     <div class="tp-footer-widget__title pb-15">
                        <h3 class="footer-title">Subscribe Newslatter</h3>
                     </div>
                     <div class="tp-footer-widget__text mb-55">
                        <p>Exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commodo</p>
                     </div>
                     <div class="tp-footer-widget__input">
                        <form action="#">
                           <input type="text" placeholder="Enter Mail">
                           <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="tp-copyright-area">
            <div class="container">
               <div class="copyright-border pt-40">
                  <div class="row">
                     <div class="col-xl-6 col-lg-6 col-12">
                        <div class="tp-copyright-left text-lg-start text-start text-md-center">
                           <p> © Copyright ©2022 Collax. All Rights Reserved Copyright</p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-12">
                        <div class="tp-copyright-right text-start text-md-center text-lg-end">
                           <a href="#">Terms and conditions</a>
                           <a href="#"> Privacy policy</a>
                           <a href="#">Login / Signup</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>

   <!-- footer-area-end -->

   <button class="scroll-top scroll-to-target" data-target="html">
      <i class="far fa-angle-double-up"></i>
  </button>

   <!-- JS here -->
   <script src="{% static 'js/jquery.js' %}"></script>
   <script src="{% static 'js/waypoints.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/swiper-bundle.js' %}"></script>
   <script src="{% static 'js/slick.js' %}"></script>
   <script src="{% static 'js/magnific-popup.js' %}"></script>
   <script src="{% static 'js/counterup.js' %}"></script>
   <script src="{% static 'js/wow.js' %}"></script>
   <script src="{% static 'js/meanmenu.js' %}"></script>
   <script src="{% static 'js/isotope-pkgd.js' %}"></script>
   <script src="{% static 'js/imagesloaded-pkgd.js' %}"></script>
   <script src="{% static 'js/ajax-form.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

{% endblock %}