{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
   <section class="breadcrumb__area breadcrumb__pt-310 include-bg p-relative" data-background="{% static 'img/breadcrum/ab-1.1.jpg' %}">
      <div class="ac-about-shape-img z-index-1">
         <img src="{% static 'img/breadcrum/ab-shape-1.1.jpg' %}" alt="">
      </div>
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="breadcrumb__content p-relative z-index-1">
                  <h3 class="breadcrumb__title">{{ error_code }} - {{ error_title }}</h3>
                  <a href="{% url 'index-4' %}" class="tp-btn-white-border">Back to Home <i class="far fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="pt-130 pb-130">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
               <div class="cpprice text-center">
                  <div class="cpprice__title">
                     <h3 class="cp-price-title">{{ error_title }}</h3>
                  </div>
                  <div class="cpprice__title-sm">
                     <h4 class="cp-price-sm-title">{{ error_message }}</h4>
                  </div>
                  <div class="cpprice__button">
                     <a class="tp-btn-yellow" href="{% url 'index-4' %}">Go to Homepage <i class="fal fa-long-arrow-right"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
{% endblock %}
