{% extends "base.html" %}
{% load static %}


{% block content%}

   <div id="header-sticky-mobile" class="tp-md-header-area d-md-block d-lg-none pt-30 pb-30">
      <div class="container-fluid">
         <div class="row align-items-center">
            <div class="col-md-6 col-6">
               <div class="tp-logo">
                  <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo-text-blue.svg' %}" alt=""></a>
               </div>
            </div>
            <div class="col-md-6 col-6">
               <div class="tp-header-right z-index-1 d-flex align-items-center justify-content-end">
                  <a class="tp-btn-yellow d-none d-md-block" href="#">How it Works</a>
                  <button class="tp-menu-bar"><i class="fal fa-bars"></i></button>
               </div>
            </div>
         </div>
      </div>
   </div>



   <div class="tp-offcanvas-area">
      <div class="tpoffcanvas">
         <div class="tpoffcanvas__logo">
            <a href="{% url 'index' %}">
               <img src="{% static 'img/logo/logo-text-white.svg' %}" alt="">
            </a>
         </div>
         <div class="tpoffcanvas__close-btn">
            <a class="close-btn" href="javascript:void(0)"><i class="fal fa-times-hexagon"></i></a>
         </div>
         <div class="tpoffcanvas__content d-none d-sm-block">
            <p>We deploy world-class Creative <br> on demand.</p>
         </div>
         <div class="mobile-menu">

         </div>
         <div class="tpoffcanvas__contact">
            <span>Contact us</span>
            <ul>
               <li><i class="fas fa-star"></i> <a href="https://goo.gl/maps/abHegV4AoiJA6Syd8" target="_blank">Hyderabad, Telangana 500004, IN</a></li>
               <li><i class="fas fa-star"></i> <a href="tel:+919063677927">+91 90636 77927</a></li>
               <li><i class="fas fa-star"></i> <a href="mailto:info@softwarestudios.com">info@softwarestudios.com</a></li>
            </ul>
         </div>
         
         <div class="tpoffcanvas__input d-none d-sm-block">
            <p>Get UPdate</p>
            <form class="p-relative" action="#">
               <input type="text" placeholder="Enter mail">
               <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </form>
         </div>
         <div class="tpoffcanvas__instagram d-none d-sm-block">
            <p>Check Instagram POst</p>
           <div class="tp-insta">
            <div class="row">
               <div class="col-3 col-sm-3"><a href="#"><img src="{% static 'img/offcanvas/insta-1.jpg' %}" alt=""></a></div>
               <div class="col-3 col-sm-3"><a href="#"><img src="{% static 'img/offcanvas/insta-2.jpg' %}" alt=""></a></div>
               <div class="col-3 col-sm-3"><a href="#"><img src="{% static 'img/offcanvas/insta-4.jpg' %}" alt=""></a></div>
               <div class="col-3 col-sm-3"><a href="#"><img src="{% static 'img/offcanvas/insta-4.jpg' %}" alt=""></a></div>
            </div>
           </div>
         </div>
      </div>
   </div>

   <div class="body-overlay"></div>

   <main>

      <!-- breadcrumb area start -->
      <section class="breadcrumb__area  breadcrumb__pt-310 include-bg p-relative"
         data-background="{% static 'img/breadcrum/ab-1.1.jpg' %}">
         <div class="ac-about-shape-img z-index-1">
            <img src="{% static 'img/breadcrum/ab-shape-1.1.jpg' %}" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="breadcrumb__content p-relative z-index-1">
                     <h3 class="breadcrumb__title">SoftwareStudios Job List</h3>
                      <a href="{% url 'contact' %}" class="tp-btn-white-border">Lets work together <i class="far fa-arrow-right"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- breadcrumb area end -->


      <!-- job-area-start -->
      <div class="job-area pt-130 pb-130">
         <div class="container">
            <div class="row justify-content-center mb-80">
               <div class="col-10 p-0 text-center">
                  <div class="tp-project-tab-button masonary-menu">
                     <button class="active" data-filter="*"><span>All</span></button>
                     <button data-filter=".hyderabad"><span>Hyderabad</span></button>
                     <button data-filter=".uae"><span>UAE</span></button>
                     <button data-filter=".remote"><span>Remote</span></button>
                  </div>
               </div>
            </div>
            <div class="row grid">
               <!-- Hyderabad Jobs -->
               <div class="col-xl-3 grid-item hyderabad">
                  <div class="jobitem mb-30">
                     <div class="jobitem__brand">
                        <img src="{% static 'img/job/job-1.png' %}" alt="AI/ML Developer">
                     </div>
                     <div class="jobitem__title">
                        <h4 class="job-title-sm"><a href="{% url 'job-details' %}">AI/ML Developer (Generative AI)</a></h4>
                     </div>
                     <div class="jobitem__details">
                        <p class="mb-0"><i class="fal fa-map-marker-alt"></i> Hyderabad, India</p>
                        <p class="mb-0"><i class="fal fa-clock"></i> Full Time</p>
                     </div>
                     <div class="jobitem__button">
                        <button class="tp-btn-border-sm">Apply Now</button>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 grid-item hyderabad">
                  <div class="jobitem mb-30">
                     <div class="jobitem__brand">
                        <img src="{% static 'img/job/job-3.png' %}" alt="Sales for Algos">
                     </div>
                     <div class="jobitem__title">
                        <h4 class="job-title-sm"><a href="{% url 'job-details' %}">Sales Specialist - Trading Algorithms</a></h4>
                     </div>
                     <div class="jobitem__details">
                        <p class="mb-0"><i class="fal fa-map-marker-alt"></i> Hyderabad, India</p>
                        <p class="mb-0"><i class="fal fa-clock"></i> Full Time</p>
                     </div>
                     <div class="jobitem__button">
                        <button class="tp-btn-border-sm">Apply Now</button>
                     </div>
                  </div>
               </div>
               <!-- UAE Jobs -->
               <div class="col-xl-3 grid-item uae">
                  <div class="jobitem mb-30">
                     <div class="jobitem__brand">
                        <img src="{% static 'img/job/job-4.png' %}" alt="iOS Developer">
                     </div>
                     <div class="jobitem__title">
                        <h4 class="job-title-sm"><a href="{% url 'job-details' %}">iOS Developer (Swift)</a></h4>
                     </div>
                     <div class="jobitem__details">
                        <p class="mb-0"><i class="fal fa-map-marker-alt"></i> Abu Dhabi, UAE</p>
                        <p class="mb-0"><i class="fal fa-clock"></i> Full Time</p>
                     </div>
                     <div class="jobitem__button">
                        <button class="tp-btn-border-sm">Apply Now</button>
                     </div>
                  </div>
               </div>
               <!-- Remote Jobs -->
               <div class="col-xl-3 grid-item remote">
                  <div class="jobitem mb-30">
                     <div class="jobitem__brand">
                        <img src="{% static 'img/job/job-5.png' %}" alt="React Native Developer">
                     </div>
                     <div class="jobitem__title">
                        <h4 class="job-title-sm"><a href="{% url 'job-details' %}">React Native Developer</a></h4>
                     </div>
                     <div class="jobitem__details">
                        <p class="mb-0"><i class="fal fa-map-marker-alt"></i> Remote</p>
                        <p class="mb-0"><i class="fal fa-clock"></i> Part Time</p>
                     </div>
                     <div class="jobitem__button">
                        <button class="tp-btn-border-sm">Apply Now</button>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 grid-item remote">
                  <div class="jobitem mb-30">
                     <div class="jobitem__brand">
                        <img src="{% static 'img/job/job-6.png' %}" alt="Sr. Azure Infra. Engineer">
                     </div>
                     <div class="jobitem__title">
                        <h4 class="job-title-sm"><a href="{% url 'job-details' %}">Senior Azure Infrastructure Engineer</a></h4>
                     </div>
                     <div class="jobitem__details">
                        <p class="mb-0"><i class="fal fa-map-marker-alt"></i> Remote</p>
                        <p class="mb-0"><i class="fal fa-clock"></i> Part Time</p>
                     </div>
                     <div class="jobitem__button">
                        <button class="tp-btn-border-sm">Apply Now</button>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 grid-item remote">
                  <div class="jobitem mb-30">
                     <div class="jobitem__brand">
                        <img src="{% static 'img/job/job-7.png' %}" alt="Video Editor">
                     </div>
                     <div class="jobitem__title">
                        <h4 class="job-title-sm"><a href="{% url 'job-details' %}">Video Editor (Premiere Pro)</a></h4>
                     </div>
                     <div class="jobitem__details">
                        <p class="mb-0"><i class="fal fa-map-marker-alt"></i> Remote</p>
                        <p class="mb-0"><i class="fal fa-clock"></i> Full Time</p>
                     </div>
                     <div class="jobitem__button">
                        <button class="tp-btn-border-sm">Apply Now</button>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 grid-item remote">
                  <div class="jobitem mb-30">
                     <div class="jobitem__brand">
                        <img src="{% static 'img/job/job-7.png' %}" alt="Digital Marketing Specialist">
                     </div>
                     <div class="jobitem__title">
                        <h4 class="job-title-sm"><a href="{% url 'job-details' %}">Digital Marketing & SEO Specialist</a></h4>
                     </div>
                     <div class="jobitem__details">
                        <p class="mb-0"><i class="fal fa-map-marker-alt"></i> Remote</p>
                        <p class="mb-0"><i class="fal fa-clock"></i> Full Time</p>
                     </div>
                     <div class="jobitem__button">
                        <button class="tp-btn-border-sm">Apply Now</button>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 grid-item remote">
                  <div class="jobitem mb-30">
                     <div class="jobitem__brand">
                        <img src="{% static 'img/job/job-7.png' %}" alt="Digital Marketing Specialist">
                     </div>
                     <div class="jobitem__title">
                        <h4 class="job-title-sm"><a href="{% url 'job-details' %}">Full Stack Web Developer</a></h4>
                     </div>
                     <div class="jobitem__details">
                        <p class="mb-0"><i class="fal fa-map-marker-alt"></i> Remote</p>
                        <p class="mb-0"><i class="fal fa-clock"></i> Full Time</p>
                     </div>
                     <div class="jobitem__button">
                        <button class="tp-btn-border-sm">Apply Now</button>
                     </div>
                  </div>
               </div>
            </div>
            {% comment %} pagination start {% endcomment %}
            {% comment %} <div class="row">
               <div class="col-xl-12">
                  <div class="basic-pagination mt-30 text-center">
                     <nav>
                        <ul>
                           <li>
                              <a href="{% url 'blog' %}">
                                 <i class="far fa-angle-left"></i>
                              </a>
                           </li>
                           <li>
                              <a href="{% url 'blog' %}">1</a>
                           </li>
                           <li>
                              <span class="current">2</span>
                           </li>
                           <li>
                              <a href="{% url 'blog' %}">3</a>
                           </li>
                           <li>
                              <a href="{% url 'blog' %}">
                                 <i class="far fa-angle-right"></i>
                              </a>
                           </li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div> {% endcomment %}
            {% comment %} pagination end {% endcomment %}
         </div>
      </div>
      
      <!-- job-area-end -->

      <!-- news-area-start -->
      <div class="tp-news-letter-area tp-news-letter-bg pt-200 pb-150" data-background="{% static 'img/news/news-bg.jpg' %}">
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-xl-8 col-lg-8 col-md-12">
                     <div class="tp-news-sub-wrapper text-center">
                         <div class="tp-news-letter-section-box">
                             <h2 class="tp-title-sm tp-title-sm tp-white-text pb-30">Join Our Tech Revolution</h2>
                             <p class="text-white pb-35">At SoftwareStudios, we’re pushing the boundaries of technology and innovation. Whether you’re looking to join us full-time, part-time, or as a freelancer, we offer exciting opportunities to work on industry-leading projects across Fintech, Health, Government, Security, Big Data, and more.</p>
                             <p class="text-white pb-35">Showcase your tech skills and contribute to groundbreaking products and solutions. Be part of a team that values expertise and dedication, and help us set new standards in the tech world.</p>
                         </div>
                         <div class="tp-news-button">
                             <a class="tp-btn-lg-yellow" href="{% url 'job' %}">Explore Opportunities</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     
      <!-- news-area-end -->

   </main>


   <!-- footer-area-start -->

   <footer>
      <div class="tp-footer-area black-bg pt-130 pb-30">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tp-footer-widget">
                     <div class="tp-footer-widget__logo mb-30">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo-text-white.svg' %}" alt=""></a>
                     </div>
                     <div class="tp-footer-widget__text mb-30">
                        <p>An affordable way to elevate your business through a strong online presence. Harness technology to streamline operations and drive growth with ease and efficiency.</p>
                    </div>
                    
                     <div class="tp-footer-widget__social-link">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-skype"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-2 col-md-6 d-flex justify-content-lg-center">
                  <div class="tp-footer-widget">
                     <div class="tp-footer-widget__title pb-15">
                        <h3 class="footer-title">Usefull Links</h3>
                     </div>
                     <div class="tp-footer-widget__list">
                        <ul>
                           <li><a href="{% url 'service-3' %}">Case Studies</a></li>
                           <li><a href="{% url 'testimonial' %}">Testimonials</a></li>
                           <li><a href="{% url 'price' %}">Pricing</a></li>
                           <li><a href="{% url 'job' %}">Careers</a></li>
                           <li><a href="{% url 'contact' %}">Contact us</a></li>
                           <li><a href="{% url 'faq' %}">FAQ</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-2 col-md-6">
                  <div class="tp-footer-widget pl-20">
                     <div class="tp-footer-widget__title pb-15">
                        <h3 class="footer-title">Others</h3>
                     </div>
                     <div class="tp-footer-widget__list">
                        <ul>
                           <li> <a href="{% url 'product-details' %}">Product Details</a></li>
                           <li><a href="{% url 'service-details' %}">Help</a></li>
                           <li><a href="{% url 'job-details' %}">job details</a></li>
                           <li><a href="{% url 'registration' %}">Sign up</a></li>
                           <li><a href="{% url 'login' %}">Log in</a></li>
                           <li><a href="{% url '404' %}">Errors</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="tp-footer-widget">
                     <div class="tp-footer-widget__title pb-15">
                        <h3 class="footer-title">Stay Updated!</h3>
                     </div>
                     <div class="tp-footer-widget__text mb-55">
                        <p>Be the first to know about our latest updates, promotions, and industry news. Subscribe to our newsletter and stay ahead!</p>
                     </div>
                     <div class="tp-footer-widget__input">
                        <form action="#">
                           <input type="email" placeholder="Enter your email" required>
                           <button type="submit"><i class="fas fa-paper-plane"></i> Subscribe</button>
                        </form>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>

         <div class="tp-copyright-area">
            <div class="container">
               <div class="copyright-border pt-40">
                  <div class="row">
                     <div class="col-xl-6 col-lg-6 col-12">
                        <div class="tp-copyright-left text-lg-start text-start text-md-center">
                           <p> © Copyright ©2024 Kozy Kreative Concept. All Rights Reserved Copyright</p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-12">
                        <div class="tp-copyright-right text-start text-md-center text-lg-end">
                           <a href="#">Terms and conditions</a>
                           <a href="#"> Privacy policy</a>
                           <a href="#">Login / Signup</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>

   <!-- footer-area-end -->
   <button class="scroll-top scroll-to-target" data-target="html">
      <i class="far fa-angle-double-up"></i>
  </button>

   <!-- JS here -->
   <script src="{% static 'js/jquery.js' %}"></script>
   <script src="{% static 'js/waypoints.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/swiper-bundle.js' %}"></script>
   <script src="{% static 'js/slick.js' %}"></script>
   <script src="{% static 'js/magnific-popup.js' %}"></script>
   <script src="{% static 'js/counterup.js' %}"></script>
   <script src="{% static 'js/wow.js' %}"></script>
   <script src="{% static 'js/meanmenu.js' %}"></script>
   <script src="{% static 'js/isotope-pkgd.js' %}"></script>
   <script src="{% static 'js/imagesloaded-pkgd.js' %}"></script>
   <script src="{% static 'js/ajax-form.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
   {% endblock %}